.row + .row{
	margin-top: 1rem;
}
.button-tier{
	margin-left: 6px;
	padding-left: 6px;
	border-left: 1px solid #ccc;
	margin-top: 8px;
}
.button-tier + .button-tier{
	margin-top: 0;
	padding-top: 8px;
}